<html>
<head>
	<title>Team Edge | Error</title>
	<link href="~/css/viewStyle.css"/>
</head>
<body>
	<div class="card" style="padding: 15px">
		<p class="primary">Во время обработки запроса произошла ошибка<p>
	</div>
</body>
</html>
