@model TeamEdge.Models.ConfirmEmailBM
@{
}
<html>
<head>
	<meta charset="utf-8" />
	<title>Team Edge | Confirm Email</title>
	<link href="~/css/viewStyle.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div class="card">
		<img class="header" src="~/logos/TEcut.png"/>
		<p class="primary">@Model.FullName, ваш адрес електронной почты успешно подтвержден</p>
		<div>
			<a href="@Model.Url" class="button">
				Перейти на сайт
			</a>
		</div>
	</div>
</body>
</html>