@model TeamEdge.Models.UserExistVM
@{ 

}
<html>
<head>

</head>
<body>
	<div>
		<p>
		<img src="@Model.Avatar"/>
		@Model.Name</p>
		<h4>Аккаунт пользователя уже существует</h4>
		<div>
			<a href="@Model.Url">
				Перейти на главную страницу
			</a>
		</div>
	</div>
</body>
</html>
